.prettierrc linguist-language=JSON
.eslintrc linguist-language=JSON

.huskyrc linguist-language=JSON
.lintstagedrc linguist-language=JSON

.markdownlintrc linguist-language=JSON
.markdownlintignore linguist-language=Ignore-List

.imgbotconfig linguist-language=JSON
.linkinatorrc linguist-language=JSON
